<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body class="bg-background">
    <h1>{{name}}</h1>
    <form action="">
      <input type="button" value="Click" onclick="disp()" />
    </form>
    <img src="{% static 'image/image1.jpg' %}" alt="Django" />
    <img src="{% get_static_prefix %}image/image2.jpg" alt="Django2" />
    <script src="{% static 'js/function.js' %}"></script>
  </body>
</html>
