<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration Render form manually in django</title>
  </head>
  <body>
    <form action="" method="get">
      <!-- {{form}} -->
      
      <!-- show form using loop -->
      <!-- {% for field in form %}
        {{field.label_tag}}
        {{field}}
      {% endfor %} -->

      <!-- show form using loop only visible fields -->
      {% for field in form.visible_fields %}
        {{field.label_tag}}
        {{field}}
      {% endfor %}

      <!-- show form using loop only hidden fields -->
      {% for hidden in form.hidden_fields %}
        {{hidden}}
      {% endfor %}
        
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
